<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>
<body>
    <h1>Add a new ITEM to the Store</h1>
    <form action="/items" method="POST">
        <input type="text" name="print" placeholder="Print Name">
        <input type="number" name="price" placeholder="Price of the Item">
        <select name="size" id="size">
            <option value="s">S</option>
            <option value="m">M</option>
            <option value="l">L</option>
        </select>
        <button>Add</button>
    </form>
    <a href="/items">Go back</a>
</body>
</html>